@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
/*   global    */
html,
body {
  box-sizing: border-box;
  font-family: "Patrick Hand";
}
body {
  color: white;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/*   header    */
.header {
  display: flex;
  font-size: 60px;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
  color: black;
  text-decoration: underline;
}
/*  rules   */
.rules {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  margin: 10px;
  color: black;
}
/*   buttons    */
.btns {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin: 50px;
}
button {
  padding: 75px 75px 75px 75px;
  background: transparent;
  color: black;
  font-family: "Patrick Hand";
  border: 5px solid black;
  border-radius: 50%;
}
#paper,
#rock,
#scissors {
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  height: 100px;
  width: 100px;
  font-size: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
}
#paper {
  background-image: url(images/paper.png);
}
#rock {
  background-image: url(images/rock.png);
}
#scissors {
  background-image: url(images/scissors.png);
}
/*   results    */
.results {
  display: flex;
  align-items: center;
  font-size: 48px;
  margin-bottom: 20px;
  flex-direction: column;
  color: black;
}
/*   running score    */
#running-score {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 48px;
  color: black;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.ties {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#player-score {
  width: 100px;
  text-align: center;
}
#ties {
  width: 100px;
  text-align: center;
}
#computer-score {
  width: 100px;
  text-align: center;
}
#winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin-top: 10px;
  gap: 10px;
}
